include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.hero#hero
          .container.hero__container
            header.hero__header
              .hero__logo
                .logo BC
              .hero__menu
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться',]
                  ul.nav__list
                    each item in menu  
                      li.nav__item
                        a(href="#").nav__link #{item}
              
              .hero__links
                - var icons = ['insta', 'vk', 'github']
                ul.socials
                  each item in icons
                    li.socials__item
                      a(href="#" target="_blank").socials__link
                        +icon(`${item}`, 'socials__icon')
            
            .hero__content
              .user-info
                h1.user-info__desc Личный сайт <br>веб разработчика
                .user-info__username Владимир <br>Старов
            
            .hero__btns
              .scroll-down-btns.hero__btns-down Скролл
                a(href="#about").arrow-scroll
                  +icon('scroll', 'scroll-down')

        section.about#about
          .container.about__container
            .about__left
              .user
                .avatar.user__avatar
                  +image('content/user.jpg', 'user-pic')
                ul.user__desc
                  -
                    var items = [
                      ['Проживаю:', 'Новосибирск'],
                      ['Возраст:','32года'],
                      ['Родился:','1987']
                    ]
                  each item in items   
                    li.user__desc-item
                      .user__key #{item[0]}
                      .user__value #{item[1]}

            .about__right
              h4.about__prolog Привет, меня зовут
                h2.about__title Владимир Старов
                .about__text
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                  .about__asterisk *

      .triangles.triangles__margin-top
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,0 0,100 1000,100")
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,100 1000,100 1000,0")


      section.values#values 
        .container.values__container
          .values__title
            h2.section-title.values__title-text Чем я могу быть вам полезен
            .values__desc
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          ul.user-skills.values__user-skill
            - 
              var skills = [
                ['Frontend', ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js']],
                ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
              ]
            each item in skills 
              li.user-skills__item.skills-row 
                h3.skills-row__title #{item[0]}
                ul.skills-row__list
                  each skill in item[1]
                    li.skills-row__item
                      .skill
                        svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                          circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--under
                          circle(r="80" cx="100" cy="100" stroke="url(#gradient)").skill__circle.skill__circle--position--above
                          linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                            stop(offset="0%" stop-color='#9300e8')
                            stop(offset="100%" stop-color='#4a00ed')
                        .skill__title #{skill} 

      section.works#works
        .container
          h2.section-title.works__title Мои работы
          .works__content
            .works__left
              .works__slider.slider
                .slider__preview
                  +image('content/slider.png', 'slider__fillpic')
                .slider__thumbnails
                  +image('content/thumbnails.png', 'slider__img')
                .slider__controls
                  ul.controls
                    li.controls__item
                      button.controls__button
                        +icon('arrow-down', 'works-controls__arrow-down controls__arrow-down--up' )
                    li.controls__item
                      button.controls__button
                        +icon('arrow-down', 'works-controls__arrow-down controls__arrow-down--down')
                .slider__number 1
            .works__right
              .works__tags
                - var tags = ['HTML', 'CSS', 'Javascript']
                each tag in tags
                  ul.tags
                    li.tags__item #{tag}
              .works__text
                h3.works__subtitle Сайт школы образования
                .works__desc-text
                  p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.iconed-link(href="#")
                  +icon("link", "iconed-link__icon")
                  span.iconed-link__text Посмотреть сайт
      .triangles.triangles__margin-bottom
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,0 1000,0 0,100")
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="1000,0 0,0 1000,100")
      
      .recommendation
        .container.recommendation__container
          section.reviews#reviews
            .reviews__header
              h2.section-title.reviews__section-title Что обо мне говорят
              .reviews__control
                  ul.controls
                    li.controls__item.controls--circle
                      button.controls__button
                        +icon('arrow-down', 'reviews-controls__arrow-down controls__arrow-down--prev' )
                    li.controls__item.controls--circle
                      button.controls__button
                        +icon('arrow-down', 'reviews-controls__arrow-down controls__arrow-down--next')
            .reviews-slider
              ul.reviews-slider__list
                li.reviews-slider__item
                  .reviews-slider__icon: +icon('quote', 'reviews__icon-quote')
                  .reviews-slider__content
                    .reviews-slider__text
                      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews-slider__user
                      .reviews-slider__author-image
                        +image('content/review-user_1.png', 'reviews-slider__avatar')
                      .reviews-slider__author-info
                        .reviews-slider__author-name Ковальчук Дмитрий
                        .reviews-slider__author-profession Основатель Loftschool
                li.reviews-slider__item
                  .reviews-slider__icon: +icon('quote', 'reviews__icon-quote')
                  .reviews-slider__content
                    .reviews-slider__text
                      p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                    .reviews-slider__user
                      .reviews-slider__author-image
                        +image('content/review-user_2.png', 'reviews-slider__avatar')
                      .reviews-slider__author-info
                        .reviews-slider__author-name Владимир Сабанцев
                        .reviews-slider__author-profession Преподаватель
          section.feedback#feedback
            h2.section-title.feedback__section-title Связаться со мной
            form.form
              .form__wrapper
                .form__row
                  .form__block
                    label.form__label(for="form_name")
                      span.form__block-name Введите ваше имя
                      .form__input-wrapper
                        .form__icon
                          +icon('user', 'form__icon-user')
                        input(type="text", name="name", placeholder="Ковальчук Дмитрий", id="form_name", class="form__input")
                  .form__block
                    label.form__label(for="form_email")
                      span.form__block-name Введите ваш email
                      .form__input-wrapper
                        .form__icon
                          +icon('envelope', 'form__icon-user')
                        input(type="email", name="email", placeholder="loftschool@study.com", id="form_email", class="form__input")
                .form__row
                  .form__block-textarea
                    label.form__label(for="form_message")
                      span.form__block-name Сообщение к письму
                      .form__input-wrapper
                        .form__icon
                          +icon('message', 'form__icon-user')
                        textarea(name="message", placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса", id="form_message", class="form__textarea")
                .feedback__button
                  button(type="button", class="btn btn--feedback")
                    .btn__text Отправить
      footer.footer
        .container.footer__container
          .footer__copyright-and-author
            .footer__coperight &#169 2019
            .footer__author
              .footer__author-name Владимир Старов
              .footer__author-desc Личный сайт <br>веб разработчика
          .footer__navigation-and-content
            .footer__menu
              nav.nav
                - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться',]
                ul.nav__list
                  each item in menu  
                    li.nav__item
                      a(href="#").nav__link #{item}
            .footer__content
              .footer__about-and-socials
                .footer__about
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__links
                  - var icons = ['insta', 'vk', 'github']
                  ul.socials.footer__socials
                    each item in icons
                      li.socials__item
                        a(href="#" target="_blank").socials__link
                          +icon(`${item}`, 'socials__icon')
              .footer__quote
                .quote
                  .quote__text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .quote__author Martin Golding
          