include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.hero#hero
          .container.hero__container
            header.hero__header
              .hero__logo
                .logo BC
              .hero__menu
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться',]
                  ul.nav__list
                    each item in menu  
                      li.nav__item
                        a(href="#").nav__link #{item}
              
              .hero__links
                - var icons = ['insta', 'vk', 'github']
                ul.socials
                  each item in icons
                    li.socials__item
                      a(href="#" target="_blank").socials__link
                        +icon(`${item}`, 'socials__icon')
            
            .hero__content
              .user-info
                h1.user-info__desc Личный сайт <br>веб разработчика
                .user-info__username Владимир <br>Старов
            
            .hero__btns
              .scroll-down-btns.hero__btns-down Скролл
                a.arrow-scroll
                  +icon('scroll', 'scroll-down')

        section.about#about
          .container.about__container
            .about__left
              .user
                .avatar.user__avatar
                  +image('content/user.jpg', 'user-pic')
                ul.user__desc
                  -
                    var items = [
                      ['Проживаю:', 'Новосибирск'],
                      ['Возраст:','32года'],
                      ['Родился:','1987']
                    ]
                  each item in items   
                    li.user__desc-item
                      .user__key #{item[0]}
                      .user__value #{item[1]}

            .about__right
              h4.about__prolog Привет, меня зовут
                h2.about__title Владимир Старов
                .about__text
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                  .about__asterisk *

      .triangles
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,0 0,100 1000,100")
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,100 1000,100 1000,0")


      section.values#values 
        .container.values__container
          .values__title
            h2.section-title.values__title-text Чем я могу быть вам полезен
            .values__desc
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        ul.user-skills.values__user-skill
          - 
            var skills = [
              ['Frontend', ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js']],
              ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
            ]
          each item in skills 
            li.user-skills__item.skills-row 
              h3.skills-row__title #{item[0]}
              ul.skills-row__list
                each skill in item[1]
                  li.skills-row__item
                    .skill
                      svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                        circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--under
                        circle(r="80" cx="100" cy="100" stroke="url(#gradient)").skill__circle.skill__circle--position--above
                        linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                          stop(offset="0%" stop-color='#9300e8')
                          stop(offset="100%" stop-color='#4a00ed')
                      .skill__title #{skill} 

      section.works#works
        .container
          h2.section-title.works__title Мои работы
          .works__content
            .works__left
              .works__slider.slider
                .slider__preview
                  +image('content/slider.png', 'slider__fillpic')
                .slider__thumbnails
                  +image('content/thumbnails.png', 'slider__img')
                .slider__controls
                  ul.controls
                    li.controls__item
                      button.controls__button
                        +icon('arrow-down', 'controls__arrow-down controls__arrow-down--up' )
                    li.controls__item
                      button.controls__button
                        +icon('arrow-down', 'controls__arrow-down controls__arrow-down--down')
                
            .works__right
              .works__tags
                - var tags = ['HTML', 'CSS', 'Javascript']
                each tag in tags
                  ul.tags
                    li.tags__item #{tag}
              .works__text
                h3.works__subtitle Сайт школы образования
                .works__desc-text
                  p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.iconed-link(href="#")
                  +icon("link", "iconed-link__icon")
                  span.iconed-link__text Посмотреть сайт
      .triangles
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,0 0,100 1000,100")
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,100 1000,100 1000,0")
      
      section.recommendation
        .container


