include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        .parallax
          .parallax__layer(data-speed="0.1")
            +image('parallax/1_1800.jpg', 'parallax__image')
          .parallax__layer(data-speed="0.13")
            +image('parallax/2_1800.png', 'parallax__image')
          .parallax__layer(data-speed="0.2")
            +image('parallax/3_1800.png', 'parallax__image')
          .parallax__layer(data-speed="0.18")
            +image('parallax/4_1800.png', 'parallax__image')
          .parallax__layer(data-speed="0.23")
            +image('parallax/5_1800.png', 'parallax__image')
          .parallax__layer(data-speed="0.25")
            +image('parallax/6_1800.png', 'parallax__image')
          .parallax__layer(data-speed="0.28")
            +image('parallax/7_1800.png', 'parallax__image')
          
        section.hero#hero
          .container.hero__container
            header.hero__header
              .hero__logo
                .logo BC
              .hero__menu
                
              .hero__links-and-hamburger
                .hero__links
                  - var icons = ['insta', 'vk', 'github']
                  ul.socials
                    each item in icons
                      li.socials__item
                        a(href="#" target="_blank").socials__link
                          +icon(`${item}`, 'socials__icon')
                
                .hero__hamburger
                  .hamburger
                    a(href="#").hamburger__link
                      span.hamburger__line
                      span.hamburger__line
                      span.hamburger__line
            
            .hero__content
              .user-info
                h1.user-info__desc Личный сайт <br>веб разработчика
                .user-info__username Владимир <br>Старов
            
            .hero__btns
              a(href="#about").arrow-scroll
                .scroll-down-btns.hero__btns-down Скролл
                +icon('scroll', 'scroll-down')

        section.about#about
          .container.about__container
            .about__left
              .user
                .avatar.user__avatar
                  +image('content/user.jpg', 'user-pic')
                ul.user__desc
                  -
                    var items = [
                      ['Проживаю:', 'Новосибирск'],
                      ['Возраст:','32года'],
                      ['Родился:','1987']
                    ]
                  each item in items   
                    li.user__desc-item
                      .user__key #{item[0]}
                      .user__value #{item[1]}

            .about__right
              h4.about__prolog Привет, меня зовут
                h2.about__title Владимир Старов
                .about__text
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                  .about__asterisk *

      .triangles.triangles__margin-top
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,0 0,100 1000,100")
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,100 1000,100 1000,0")


      section.values#values 
        .container.values__container
          .values__title
            h2.section-title.values__title-text Чем я могу быть вам полезен
            .values__desc
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          #skills-component 

      section.works#worksMy
        .container.works__container
          h2.section-title.works__title Мои работы
          #slider-component
      
      .triangles.triangles__margin-bottom
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="1000,0 1000,100 0,0")
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="1000,0 0,100 0,0")
      
      .recommendation
        .parallax.parallax-budda
          .parallax-budda__layer(data-speed="0.1")
            +image('parallax/budda_1.jpg', 'parallax-budda__image')
          .parallax-budda__layer(data-speed="0.14")
            +image('parallax/budda_2.png', 'parallax-budda__image')
          .parallax-budda__layer(data-speed="0.16")
            +image('parallax/budda_3.png', 'parallax-budda__image')
          .parallax-budda__layer(data-speed="0.2")
            +image('parallax/budda_4.png', 'parallax-budda__image')
          .parallax-budda__layer(data-speed="0.24")
            +image('parallax/budda_5.png', 'parallax-budda__image')
          .parallax-budda__layer(data-speed="0.26")
            +image('parallax/budda_6.png', 'parallax-budda__image')

        .container.recommendation__container
          section.reviews#reviews
            #reviews-components
            
          section.feedback#feedback
            h2.section-title.feedback__section-title Связаться со мной
            form.form
              .form__wrapper
                .form__row
                  .form__block
                    label.form__label(for="form_name")
                      span.form__block-name Введите ваше имя
                      .form__input-wrapper
                        .form__icon
                          +icon('user', 'form__icon-user')
                        input(type="text", name="name", placeholder="Ковальчук Дмитрий", id="form_name", class="form__input")
                  .form__block
                    label.form__label(for="form_email")
                      span.form__block-name Введите ваш email
                      .form__input-wrapper
                        .form__icon
                          +icon('envelope', 'form__icon-user')
                        input(type="email", name="email", placeholder="loftschool@study.com", id="form_email", class="form__input")
                .form__row
                  .form__block-textarea
                    label.form__label(for="form_message")
                      span.form__block-name Сообщение к письму
                      .form__input-wrapper
                        .form__icon
                          +icon('message', 'form__icon-user')
                        textarea(name="message", placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса", id="form_message", class="form__textarea")
                .feedback__button
                  button(type="button", class="btn btn--feedback")
                    .btn__text Отправить
      footer.footer
        .container.footer__container
          .footer__copyright-and-author
            .footer__coperight &#169 2019
            .footer__author
              .footer__author-name Владимир Старов
              .footer__author-desc Личный сайт <br>веб разработчика
          .footer__navigation-and-content
            .footer__menu
              .nav
                - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться',]
                ul.nav__list
                  each item in menu  
                    li.nav__item
                      a(href="#").nav__link #{item}
            .footer__content
              .footer__about-and-socials
                .footer__about
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__links
                  - var icons = ['insta', 'vk', 'github']
                  ul.socials.footer__socials
                    each item in icons
                      li.socials__item
                        a(href="#" target="_blank").socials__link
                          +icon(`${item}`, 'socials__icon')
              .footer__quote
                .quote
                  .quote__text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .quote__author Martin Golding

      .popup
        .popup__logo
          .logo BC
        .popup__sidebar
          .popup__close: a(href="#").popup__btn: +icon('remove', 'popup__icon-remove')
          .popup__menu
            .nav.popup__nav
                - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться',]
                ul.nav__list
                  each item in menu  
                    li.nav__item
                      a(href="#").nav__link #{item}
          .popup__socials
            - var icons = ['insta', 'vk', 'github']
            ul.socials
              each item in icons
                li.socials__item
                  a(href="#" target="_blank").socials__link
                    +icon(`${item}`, 'socials__icon')  
  
    include ./templates/entry.pug